
<script>

const resetCartTotal = (elements) =>{
  elements.forEach(item =>{
    item.innerHTML = `${getTotalOfItems()} دج`
  })
}

    const setItemToCartGlobal = (item, operation) => {
        // Get item ID
        let itemID = item.getAttribute("data-item-id");
        let itemImage = item.getAttribute("data-item-image");
        let itemPrice = item.getAttribute("data-item-price");
        let itemName = item.getAttribute("data-item-name");
        let cartItemNumber = document.querySelectorAll(".cart_number");
        // Check if both color and size are selected
          // Get the data attributes from the selected elements
          let colorVariant = '';
          let sizeVariant = '';
          // Try to get existing cart items array from localStorage
          let existingCartItems =
            JSON.parse(localStorage.getItem("cartItems")) || [];
          // Check if an item with the same ID, color, and size already exists in the cart
          let existingItemIndex = existingCartItems.findIndex(
            (item) =>
              item.id === itemID &&
              item.color === colorVariant &&
              item.size === sizeVariant
          );
    
          if (existingItemIndex !== -1) {
            // If item exists, update quantity based on the operation
            if (operation === "add") {
              existingCartItems[existingItemIndex].qty += 1;
            } else if (operation === "subtraction") {
              existingCartItems[existingItemIndex].qty -= 1;
    
              // Ensure quantity doesn't go below 0
              existingCartItems[existingItemIndex].qty = Math.max(
                0,
                existingCartItems[existingItemIndex].qty
              );
            } else {
              console.log("operation not supported");
            }
          } else {
            // If item doesn't exist, add it to the array
            existingCartItems.push({
              id: itemID,
              color: colorVariant,
              size: sizeVariant,
              price: itemPrice,
              image: itemImage,
              name: itemName,
              qty:1,
            });
          }
          // Convert the cart items array to JSON string and store it in localStorage
          localStorage.setItem("cartItems", JSON.stringify(existingCartItems));
          // Calculate total quantity
          let totalQty = existingCartItems.reduce(
            (total, item) => total + item.qty,
            0
          );
          // SET NEW VALUE TO navbar header
          cartItemNumber.forEach((e) => {
            e.innerHTML = totalQty;
          });
          console.log("Item added/removed from cart:", existingCartItems);
          fillCartItem()
      };



const fillCartItem = () =>{
  /*
 ****** Fill the cart item with Locale storage ******
  */
    const existingCartItems = JSON.parse(localStorage.getItem('cartItems'));
    let cartItemsCount = document.querySelectorAll('.cart_number');
    let subTotalCount = document.querySelectorAll('.sub-total-count');
    var htmlInnerContent = '';
    cartItemsCount.forEach(e=>{
      e.innerHTML =existingCartItems.length;

    })
existingCartItems.forEach(item => {
    htmlInnerContent +=`
    <div class="cart-drawer-item d-flex position-relative" style="max-height:unset" data-item-id="${item.id}" data-item-name="${item.name}" data-item-color="${item.color}" data-item-size="${item.size}">
            <div class="position-relative">
              <img loading="lazy" class="cart-drawer-item__img" src="${item.image}" alt="">
            </div>
            <div class="cart-drawer-item__info flex-grow-1 px-2">
              <h6 class="cart-drawer-item__title fw-normal">${item.name} <span style="color:red">X (${item.qty})</span></h6>
              <p class="cart-drawer-item__option text-secondary">اللون: ${item.color}</p>
              <p class="cart-drawer-item__option text-secondary">المقاس: ${item.size}</p>
              <div class="d-flex align-items-center justify-content-between mt-1">

            <span class="cart-drawer-item__price money price item-sub-price" data-price="${item.price*item.qty}">${item.price*item.qty} دج</span>
              </div>
            </div>
            <button class="btn-close-xs position-absolute top-0  js-cart-item-remove" style = "left:0" onclick="removeItemFromCart(this)"></button>
          </div>
          <hr class="cart-drawer-divider">

    `
});
parentCartItems.innerHTML = htmlInnerContent


subTotalCount.forEach(e=>{
  e.innerHTML = `${localStorage.getItem('cart-total-prices',0)} دج`
  e.setAttribute('data-subtotal',getTotalOfItems())

})
localStorage.setItem('cart-total-prices', getTotalOfItems());

}

const getTotalOfItems = () => {
  // Retrieve the array of items from local storage
  const cartItems = JSON.parse(localStorage.getItem("cartItems")) || [];

  // Calculate the total price
  const totalPrice = cartItems.reduce((total, item) => {
    // Ensure item.price and item.qty are numbers
    const price = parseFloat(item.price) || 0;
    const qty = parseInt(item.qty) || 0;

    // Add the product of price and quantity to the total
    return total + price * qty;
  }, 0);

  // Return the total price
  return totalPrice;
};

const sendRequest = (url,rawData) => {
    let myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");
    myHeaders.append("X-Frappe-CSRF-Token", frappe.csrf_token);
  console.log(myHeaders.values);
    let requestOptions = {
      method: "POST",
      headers: myHeaders,
      body: JSON.stringify(rawData),
    };

    return fetch(url, requestOptions)
      .then((response) => response.json()) // Parse JSON response
      .then((data) => {
        if (data.message.success) {
          const orderId = data.message.data.order_id;
          // remove cart items after successful processing
          localStorage.removeItem("cartItems");
          // Redirect to success page with order_id
          fbq('track', 'Purchase', {currency: 'DZD', value: rawData.total})
          window.location.href = `/success_page/?id=${orderId}`;
        } else {
          // Handle other cases where success is not true if needed
          console.log("Request was not successful:", data);
        }
      })
      .catch((error) => {
        console.log("error", error);
        throw error; // Rethrow the error to be caught by the caller if needed
      });
  };

  const removeItemFromCart = (element) => {
    // Get the closest parent with class 'cart-drawer-item'
    const parentItem = element.closest('.cart-drawer-item');

    if (parentItem) {
        // Get data attributes from the parent item
        const itemId = parentItem.getAttribute('data-item-id');
        const itemName = parentItem.getAttribute('data-item-name');
        const itemColor = parentItem.getAttribute('data-item-color');
        const itemSize = parentItem.getAttribute('data-item-size');

        // Remove the item from localStorage
        let existingCartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
        existingCartItems = existingCartItems.filter(item => (
            item.id !== itemId ||
            item.name !== itemName ||
            item.color !== itemColor ||
            item.size !== itemSize
        ));
        // Update localStorage with the modified cart items array
        localStorage.setItem('cartItems', JSON.stringify(existingCartItems));
        // Remove the item's HTML from the DOM
        parentItem.remove();
        resetCartTotal([document.getElementById('sub-total-count')])
        console.log('Item removed from cart:', itemId);
    } else {
        console.log('Unable to find parent cart item');
    }
};




    </script>