<div class="col-lg-6 d-flex flex-column">
    <div class="collection-grid__item position-relative flex-grow-1 mb-lg-4">
      <div class="background-img" style="background-image: url('{{category.image}}');"></div>
      <div class="content_abs content_bottom content_left content_bottom-md content_left-md">
        <p class="text-uppercase mb-1">الجديد في</p>
        <h3 class="text-uppercase">{{category.name}}</h3>
        <a href="/products/?category={{category.name}}" class="btn-link default-underline text-uppercase fw-medium">تسوق الأن</a>
      </div><!-- /.content_abs content_bottom content_left content_bottom-md content_left-md -->
    </div>
  </div>