{% if items %}
  
<section class="products-carousel container">
    <h2 class="section-title text-uppercase text-center mb-4 pb-xl-2 mb-xl-4">{{section_name}}</h2>

    <div id="product_carousel" class="position-relative">
      <div class="swiper-container js-swiper-slider"
        data-settings='{
          "autoplay": {
            "delay": 5000
          },
          "slidesPerView": 4,
          "slidesPerGroup": 4,
          "effect": "none",
          "loop": true,
          "pagination": {
            "el": "#product_carousel .products-pagination",
            "type": "bullets",
            "clickable": true
          },
          "navigation": {
            "nextEl": "#product_carousel .products-carousel__next",
            "prevEl": "#product_carousel .products-carousel__prev"
          },
          "breakpoints": {
            "320": {
              "slidesPerView": 2,
              "slidesPerGroup": 2,
              "spaceBetween": 14
            },
            "768": {
              "slidesPerView": 3,
              "slidesPerGroup": 3,
              "spaceBetween": 24
            },
            "992": {
              "slidesPerView": 4,
              "slidesPerGroup": 1,
              "spaceBetween": 30
            }
          }
        }'>
        <div class="swiper-wrapper">


          {% for item in items %}
          <div class="swiper-slide product-card">
            <div class="pc__img-wrapper">
              <a href="/product/{{item.item_code}}">
                <img loading="lazy" src="{{item.image}}" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img">
              </a>
              <a href="/product/{{item.item_code}}" class="pc__atc btn anim_appear-bottom btn position-absolute border-0 text-uppercase fw-medium" data-aside="cartDrawer" title="إشتري اﻷن"
              data-item-id="{{item.item_code}}" data-item-name="{{item.name}} - {{item.item_name}}" data-item-price ="{{item.custom_price}}" data-item-image="{{item.image}}" 
              > إشتري الأن </a>
            </div>

            <div class="pc__info position-relative">
              <p class="pc__category">{{item.item_name}}</p>
              <h6 class="pc__title"><a href="/product/{{item.item_code}}">{{item.description}}</a></h6>
              <div class="product-card__price d-flex">
                {% if  item.custom_promo_price %}
                <del class="money price ">{{item.custom_price}} دج</del>
                <span class="mx-2 money price fw-bold" style="color: rgba(11, 141, 76, 0.712);">{{item.custom_promo_price}} دج</span>
                {% else %}
                <span class="money price">{{item.custom_price}} دج</span>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div><!-- /.swiper-wrapper -->

      </div><!-- /.swiper-container js-swiper-slider -->

      <div class="products-carousel__prev position-absolute top-50 d-flex align-items-center justify-content-center">
        <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_md" /></svg>
      </div><!-- /.products-carousel__prev -->
      <div class="products-carousel__next position-absolute top-50 d-flex align-items-center justify-content-center">
        <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_md" /></svg>
      </div><!-- /.products-carousel__next -->

      <div class="products-pagination mt-4 mb-5 d-flex align-items-center justify-content-center"></div>
      <!-- /.products-pagination -->
    </div><!-- /.position-relative -->

  </section><!-- /.products-carousel container -->

{% endif %}
