<style>
  .billing-info__wrapper {
    padding: 20px;
    border: 7px solid #990d0d;
    box-shadow: 0px 1px 18px 9px #0000001f;
    border-radius: 25px;
  }
</style>
<form>
  <div class="checkout-form">
    <div class="billing-info__wrapper">
      <h4>BILLING DETAILS</h4>
      <div class="row">
        <div class="col-md-12">
          <div class="form-floating my-3">
            <input
              type="text"
              class="form-control"
              id="checkout_last_name"
              placeholder="First Name"
            />
            <label for="checkout_first_name">Full name</label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="search-field my-3">
            <div class="form-label-fixed hover-container">
              <label for="search-dropdown" class="form-label">Wilaya*</label>
              <div class="js-hover__open">
                <input
                required
                  type="text"
                  class="form-control form-control-lg search-field__actor search-field__arrow-down"
                  id="wilaya-dropdown"
                  name="search-keyword"
                  placeholder="Enter your wilaya..."
                />
              </div>
              <div class="filters-container js-hidden-content mt-2">
                <div class="search-field__input-wrapper">
                  <input
                  
                    type="text"
                    oninput="filterLiElements(this.value,'wilayaList')"
                    class="search-field__input form-control form-control-sm bg-lighter border-lighter"
                    placeholder="Enter your city"
                  />
                </div>
                <ul
                  class="search-suggestion list-unstyled"
                  id="wilayaList"
                  style="max-height: 200px; overflow-y: scroll"
                ></ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="search-field my-3">
            <div class="form-label-fixed hover-container">
              <label for="search-dropdown" class="form-label">Region*</label>
              <div class="js-hover__open">
                <input
                required
                  type="text"
                  class="form-control form-control-lg search-field__actor search-field__arrow-down"
                  id="communs-dropdown"
                  name="search-keyword"
                  readonly=""
                  placeholder="Enter your city..."
                />
              </div>
              <div class="filters-container js-hidden-content mt-2">
                <div class="search-field__input-wrapper">
                  <input
                  
                    type="text"
                    oninput="filterLiElements(this.value,'baladiaList')"
                    class="search-field__input form-control form-control-sm bg-lighter border-lighter"
                    placeholder="Search"
                  />
                </div>
                <ul
                  class="search-suggestion list-unstyled"
                  id="baladiaList"
                ></ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" id="checkout_street_address">
          <div class="form-floating my-3">
            <input
            
              type="text"
              class="form-control"
              id="checkout_input_street_address"
              placeholder="Phone *"
            />
            <label for="checkout_phone">Street address</label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-floating my-3">
            <input
              maxlength="10"
              type="text"
              class="form-control"
              id="checkout_input_phone_field"
              placeholder="Phone *"
            />
            <label for="checkout_phone">Phone *</label>
          </div>
        </div>
      </div>
    <div class="checkout__totals-wrapper w-100"  >
      <div class="sticky-content" style="width: 100% !important;">
        <div class="checkout__totals" style="width: 100% !important;border: none;">
          <table class="checkout-totals">
            <tbody>
              <tr>
                <th>SUBTOTAL</th>
                <td
                  id="checkout-total-amount"
                  class="sub-total-count"
                  data-subtotal=""
                >
                  DA 62.40
                </td>
              </tr>
              <tr>
                <th>SHIPPING</th>
                <td id="shipping_fees" data-shipping-fee="0">0 DA</td>
              </tr>
              <tr>
                <th>SHIPPING Type</th>
                <td id="" data-shipping-fee="0">
                  <div class="form-check">
                    <input
                      class="form-check-input form-check-input_fill"
                      type="radio"
                      onchange="setDeleveryFees();ToggleStreetInput('display')"
                      name="checkout_shipping_type"
                      checked
                      id="checkout_shipping_type_home"
                    />
                    <label
                      class="form-check-label"
                      for="checkout_shipping_type_home"
                    >
                      Home
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                    
                      onchange="setDeleveryFees();ToggleStreetInput('hidden')"
                      class="form-check-input form-check-input_fill"
                      type="radio"
                      name="checkout_shipping_type"
                      id="checkout_shipping_type_office"
                    />
                    <label
                      class="form-check-label"
                      for="checkout_shipping_type_office"
                    >
                      Office
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <th>TOTAL</th>
                <td id="total-checkout-amount">DA 0</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-primary btn-checkout" id="place_order" style="
        border-radius: 30px;
        background: #870404;
        border: 2px solid #870404;
    ">
              PLACE ORDER
            </button>
      </div>
    </div>
  </div>
</div>

</form>
<script>
  function filterLiElements(input, list_id) {
    let filter, ul, li, a, i;
    filter = input.toUpperCase();
    ul = document.getElementById(list_id);
    li = ul.getElementsByTagName("li");

    for (i = 0; i < li.length; i++) {
      console.log(i);
      a = li[i];
      if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
  function removeContentVisibleClass(li, list_id) {
    let parent = li.closest(".form-label-fixed.hover-container");
    parent.classList.remove("js-content_visible");
    // set and render wilaya in input field
    setDropDownValue(li, list_id);
  }
  function setDropDownValue(element, list_id) {
    const itemName = element.getAttribute("data-item-name");
    if (list_id == "wilayaList") {
      document.getElementById("wilaya-dropdown").value = itemName;
      setWilayaOfficesCommuns(element);
    } else document.getElementById("communs-dropdown").value = itemName;
  }
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Fetch data from the API
    fetch("/api/method/simple_shop.api.get_data")
      .then((response) => response.json())
      .then((data) => {
        // Get the ul element
        const ul = document.getElementById("wilayaList");
        const result = data["message"];

        let htmlContent = "";

        // Loop through the data and create li elements
        result.forEach((item) => {
          htmlContent += `<li class="search-suggestion__item js-search-select" data-wilaya="${item.id}" data-item-name="${item.id} ${item.name}" onclick="removeContentVisibleClass(this,'wilayaList');setDeleveryFees(this)">${item.id} ${item.name}</li>`;
        });
        ul.innerHTML = htmlContent;
      })
      .catch((error) => console.error("Error fetching data:", error));
    getCommunsList((has_stop_desk = true));
  });
  function getCommunsList(has_stop_desk) {
    // Check if data is already in localStorage

    const storedData = localStorage.getItem("communsList");
    const storeddeleveryFeesData = localStorage.getItem("deleveryFees");

    if (storedData && storeddeleveryFeesData) {
      let communs = JSON.parse(storedData);
      let deleveryFees = JSON.parse(storeddeleveryFeesData);
      return { communs: communs, deliveryfees: deleveryFees };
    }

    // If data is not in localStorage, fetch it from the API
    return fetch("/api/method/simple_shop.api.get_communs_true", {
      // Include any headers if needed
    })
      .then((response) => response.json())
      .then((data) => {
        let communs = data["message"]["communs"];
        let deleveryFees = data["message"]["deliveryfees"];

        // Store the data in localStorage for future use
        localStorage.setItem("communsList", JSON.stringify(communs));
        localStorage.setItem("deleveryFees", JSON.stringify(deleveryFees));

        // Return the fetched data
        return { communs: communs, deliveryfees: deleveryFees };
      })
      .catch((error) => {
        console.error("Error fetching or storing data:", error);
        throw error;
      });
  }
  function setWilayaOfficesCommuns(element) {
    let communs = getCommunsList((has_stop_desk = true));
    console.log(communs["communs"]);
    let baladiaUlList = document.getElementById("baladiaList");
    let wilayaID = element.getAttribute("data-wilaya");
    document.getElementById("communs-dropdown").value = "";
    let htmlContent = "";
    // Loop through the data and create li elements
    communs["communs"].forEach((item) => {
      if (item.wilaya_id == wilayaID)
        htmlContent += `<li class="search-suggestion__item js-search-select"  data-item-name="${item.name}" onclick="removeContentVisibleClass(this,'baladiaList')">${item.name}</li>`;
    });
    baladiaUlList.innerHTML = htmlContent;
  }
</script>
<script>
  const fillCheckoutItems = (source) => {
    if (source == "global") {
    } else {
      let existingCartItems =
        JSON.parse(localStorage.getItem("cartItems")) || [];
      let parentCartItems = document.getElementById("checkout-cart-items");
      let subTotalCount = document.querySelectorAll(".sub-total-count");
      subTotalCount.forEach((e) => {
        e.innerHTML = `${localStorage.getItem("cart-total-prices", 0)} DA`;
        e.setAttribute("data-subtotal", getTotalePrices());
      });
      parentCartItems.innerHTML = "";
      existingCartItems.forEach((item) => {
        parentCartItems.innerHTML += `
    <tr>
            <td>
            ${item.name} x ${item.qty}
            </td>
            <td>
            DA ${item.price * item.qty}
            </td>
    </tr>
    `;
      });
    }
  };
  const setItemToCart = (item, operation) => {
    // Get item ID
    let itemID = item.getAttribute("data-item-id");
    let itemImage = item.getAttribute("data-item-image");
    let itemPrice = item.getAttribute("data-item-price");
    let itemName = item.getAttribute("data-item-name");

    // Get selected color and size
    let itemColor = document.querySelector('input[name="color"]:checked');
    let itemSize = document.querySelector('input[name="size"]:checked');
    let itemQty = document.getElementById("qty").value;

    // Check if both color and size are selected
    if (itemColor && itemSize) {
      // Get the data attributes from the selected elements
      let colorVariant = itemColor.getAttribute("data-item-color");
      let sizeVariant = itemSize.getAttribute("data-item-size");

      // Try to get existing cart items array from localStorage
      let existingCartItems =
        JSON.parse(localStorage.getItem("cartItems")) || [];

      // Check if an item with the same ID, color, and size already exists in the cart
      let existingItemIndex = existingCartItems.findIndex(
        (item) =>
          item.id === itemID &&
          item.color === colorVariant &&
          item.size === sizeVariant
      );

      if (existingItemIndex !== -1) {
        // If item exists, update quantity based on the operation
        if (operation === "add") {
          existingCartItems[existingItemIndex].qty = parseInt(itemQty);
        } else if (operation === "subtraction") {
          existingCartItems[existingItemIndex].qty = parseInt(itemQty);

          // Ensure quantity doesn't go below 0
          existingCartItems[existingItemIndex].qty = Math.max(
            0,
            existingCartItems[existingItemIndex].qty
          );
        } else {
          console.log("operation not supported");
        }
      } else {
        // If item doesn't exist, add it to the array
        existingCartItems.push({
          id: itemID,
          color: colorVariant,
          size: sizeVariant,
          price: itemPrice,
          image: itemImage,
          name: itemName,
          qty: parseInt(itemQty),
        });
      }

      // Convert the cart items array to JSON string and store it in localStorage
      localStorage.setItem("cartItems", JSON.stringify(existingCartItems));

      // Calculate total quantity
      let totalQty = existingCartItems.reduce(
        (total, item) => total + item.qty,
        0
      );

      // SET NEW VALUE TO navbar header
      setNewNumberToCartIcon();
      console.log("Item added/removed from cart:", existingCartItems);
    } else {
      console.log("NO both color and size");
      setItemToCartGlobal(item, operation);
    }
    fillCartItem();
    setCheckoutTotal();
  };

  const setDeleveryFees = (element) => {
    if (element) {
      // select wilaya from user
      let wilaya_id = element.getAttribute("data-wilaya");
      localStorage.setItem("selected_wilaya", wilaya_id);
    }

    let shipping_fees = document.getElementById("shipping_fees");
    let storeddeleveryFeesData = localStorage.getItem("deleveryFees");
    let deleveryFees = JSON.parse(storeddeleveryFeesData);
    let checkout_shipping_type_home = document.getElementById(
      "checkout_shipping_type_home"
    );
    let checkout_shipping_type_office = document.getElementById(
      "checkout_shipping_type_office"
    );
    deleveryFees.forEach((e) => {
      if (e.wilaya_id == localStorage.getItem("selected_wilaya")) {
        checkout_shipping_type_home.setAttribute("data-fee", e.home_fee);
        checkout_shipping_type_office.setAttribute("data-fee", e.desk_fee);
        shipping_fees.innerHTML =
          getShippingTypeOption() === "checkout_shipping_type_home"
            ? `${e.home_fee} DA`
            : `${e.desk_fee} DA`;
        shipping_fees.setAttribute(
          "data-shipping-fee",
          getShippingTypeOption() === "checkout_shipping_type_home"
            ? e.home_fee
            : e.desk_fee
        );
      }
    });

    setCheckoutTotal();
  };

  const setCheckoutTotal = () => {
    let sub_total = document
      .getElementById("checkout-total-amount")
      .getAttribute("data-subtotal");
    console.log(sub_total);
    let shipping_fees = document
      .getElementById("shipping_fees")
      .getAttribute("data-shipping-fee");
    let totalAmount = document.getElementById("total-checkout-amount");
    totalAmount.innerHTML = `${
      parseFloat(sub_total) + parseFloat(shipping_fees)
    } DA`;
  };

  const getShippingTypeOption = () => {
    let checkedShippingType = document.querySelector(
      'input[name="checkout_shipping_type"]:checked'
    );
    return checkedShippingType.getAttribute("id");
  };

  const ToggleStreetInput = (option) => {
    /* Toggle display street address field input depending at shipping type*/
    let street = document.getElementById("checkout_street_address");
    const hidden =
      option == "hidden"
        ? street.classList.add("d-none")
        : street.classList.remove("d-none");
  };



  const sendRequest = (rawData) => {
  let myHeaders = new Headers();
  myHeaders.append("Content-Type", "application/json");
  myHeaders.append("X-Frappe-CSRF-Token", frappe.csrf_token);

  let requestOptions = {
    method: 'POST',
    headers: myHeaders,
    body: JSON.stringify(rawData),
  };

  return fetch("/api/method/simple_shop.api.post_order", requestOptions)
    .then(response => response.json()) // Parse JSON response
    .then(data => {
      if (data.message.success) {
        const orderId = data.message.data.order_id;
        // Redirect to success page with order_id
        window.location.href = `/success_page/?id=${orderId}`;
      } else {
        // Handle other cases where success is not true if needed
        console.log('Request was not successful:', data);
      }
    })
    .catch(error => {
      console.log('error', error);
      throw error; // Rethrow the error to be caught by the caller if needed
    });
};


const verifyOrderInputs = (orderData) => {
    const { lastName, phone, wilaya, commun } = orderData;

    const isEmpty = (value) => value.trim().length < 1;

    if (isEmpty(lastName.value)) {
        handleInvalidInput(lastName, 'full name must be filled');
    } else if (isEmpty(phone.value) || phone.value.trim().length < 10) {
        handleInvalidInput(phone, 'Phone number must be at least 10 characters');
    } else if (!wilaya.value.trim() || !commun.value.trim()) {
        handleInvalidInput(wilaya, 'State and city must be provided');
    } else {
        handleValidInput([lastName, phone, wilaya, commun]);
        return [true, 'order sent successfully'];
    }

    return [false, '']; // Return a default error message for invalid cases

    function handleInvalidInput(element, errorMessage) {
        element.classList.add('is-invalid');
        element.classList.remove('is-valid');
        return [false, errorMessage];
    }

    function handleValidInput(elements) {
        elements.forEach((element) => {
            element.classList.remove('is-invalid');
            element.classList.add('is-valid');
        });
    }
};

  const placeOrderItems = (element, orderType) => {
    element.preventDefault();

    // OrderType may be 'product' or 'cart' depending on the order type
    if (orderType === "product") {
      const checkoutStreetAddress = document.getElementById(
        "checkout_input_street_address"
      );
      const phoneField = document.getElementById(
        "checkout_input_phone_field"
      );
      const lastNameField = document.getElementById("checkout_last_name");
      const wilayaField = document.getElementById("wilaya-dropdown");
      const communField = document.getElementById("communs-dropdown");
      //validateInputs();
      console.log(
        phoneField.value,
        wilayaField.value,
        lastNameField.value,
        communField.value
      );
      let orderData = { 
        "lastName": lastNameField,
        "phone": phoneField,
        "wilaya": wilayaField,
        "commun":communField,
      }
      const [success,msg] = verifyOrderInputs(orderData);
      console.log(success,msg);
      if (success){
        orderData={
        "lastName": lastNameField.value,
        "phone": phoneField.value,
        "wilaya": wilayaField.value,
        "commun":communField.value,
        "product":"{{item.item_code}}",
        "qty":1
        }
        sendRequest(orderData)
      }
    }

  };

  document.getElementById("place_order").addEventListener("click", (e) => {
    placeOrderItems(e, "product");
  });
  fillCheckoutItems();
  setCheckoutTotal();
</script>
