<div class="position-relative d-flex align-items-center text-center pt-xxl-4 js-countdown pb-5 fs-2"  data-date="19-2-2024" data-time="06:50">
    <div class="day countdown-unit" style="background-color: yellow;">
      <span class="countdown-num d-block fw-bold">28</span>
      <span class="countdown-word fs-5 text-secondary mx-3">Days</span>
    </div>

    <div class="hour countdown-unit">
      <span class="countdown-num d-block fw-bold">11</span>
      <span class="countdown-word fs-5 text-secondary mx-3">Hours</span>
    </div>

    <div class="min countdown-unit" style="background-color: yellow;">
      <span class="countdown-num d-block fw-bold">16</span>
      <span class="countdown-word fs-5 text-secondary mx-3">Mins</span>
    </div>

    <div class="sec countdown-unit">
      <span class="countdown-num d-block fw-bold">22</span>
      <span class="countdown-word fs-5 text-secondary mx-3">Sec</span>
    </div>
  </div>
