<div class="product-card-wrapper">
  <div class="product-card mb-3 mb-md-4 mb-xxl-5">
    <div class="pc__img-wrapper">
      <div class="swiper-container background-img js-swiper-slider" data-settings='{"resizeObserver": true}'>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="/product/{{item.item_code}}"><img loading="lazy" src="{{item.image}}" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img"></a>
          </div><!-- /.pc__img-wrapper -->
          <div class="swiper-slide">
            <a href="/product/{{item.item_code}}"><img loading="lazy" src="{{item.image}}" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img"></a>
          </div><!-- /.pc__img-wrapper -->
        </div>
        <span class="pc__img-prev"><svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_sm" /></svg></span>
        <span class="pc__img-next"><svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_sm" /></svg></span>
      </div>
      <button class="pc__atc btn anim_appear-bottom btn position-absolute border-0 text-uppercase fw-medium js-add-cart js-open-aside" data-aside="cartDrawer" title="Add To Cart"
      data-item-id="{{item.item_code}}" data-item-name="{{item.name}} - {{item.item_name}}" data-item-price ="{{item.custom_price}}" data-item-image="{{item.image}}" 
      onclick="setItemToCartGlobal(this,'add')" 
      >Add To Cart</button>
    </div>

    <div class="pc__info position-relative">
      <p class="pc__category">{{item.item_group}}</p>
      <h6 class="pc__title"><a href="product1_simple.html">{{item.item_name}}</a></h6>
      <div class="product-card__price d-flex">
        <span class="money price price-old">{{item.custom_price}} DA</span>
        <span class="money price price-sale">{{item.custom_price}} DA</span>
      </div>
      <button class="pc__btn-wl position-absolute top-0 end-0 bg-transparent border-0 js-add-wishlist" title="Add To Wishlist">
        <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart" /></svg>
      </button>
    </div>

    <div class="pc-labels position-absolute top-0 start-0 w-100 d-flex justify-content-between">
      <div class="pc-labels__right ms-auto">
        <span class="pc-label pc-label_sale d-block text-white">-67%</span>
      </div>
    </div>
  </div>
</div>