<!-- Cart Drawer -->
<div class="aside aside_right  cart-drawer mb-5 pb-5" id="cartDrawer">
  <div class="aside-header d-flex align-items-between">
    <h3 class="text-uppercase fs-6 mb-0 ms-auto">عربة التسوق ( <span class="cart-amount js-cart-items-count" id="cart-items-count">1</span> ) </h3>
    <button class="btn-close-lg js-close-aside btn-close-aside"></button>
  </div>

  <div class="aside-content cart-drawer-items-list overflow-auto" id="cart-drawer-items-list">
    <!-- Your content goes here -->
  </div><!-- /.aside-content -->

  <div class="cart-drawer-actions  w-100 pb-5" style="position: absolute;bottom: 0;left: 0;">
    <hr class="cart-drawer-divider">
    <div class="d-flex justify-content-between">
      <h6 class="fs-base fw-medium">المجموع:</h6>
      <span class="cart-subtotal fw-medium sub-total-count" id="sub-total-count">0 دج</span>
    </div><!-- /.d-flex justify-content-between -->
    <a href="/cart/" class="btn btn-light mt-3 d-block">العربة</a>
    <a href="/products/" class="btn btn-primary mt-3 d-block">إكمال التسوق</a>
  </div><!-- /.aside-content -->
  <div class="py-2"></div>
</div>

      <!-- /.aside -->
  
<script>
var parentCartItems = document.getElementById('cart-drawer-items-list');



// initialize cart items on page load
document.addEventListener('DOMContentLoaded',e=>{
  console.log('fillCartItem()')
fillCartItem()


})




const setItemToCart = (item, operation) => {
    // Get item ID
    let itemID = item.getAttribute("data-item-id");
    let itemImage = item.getAttribute("data-item-image");
    let itemPrice = item.getAttribute("data-item-price");
    let itemName = item.getAttribute("data-item-name");

    // Get selected color and size
    let itemColor = document.querySelector('input[name="color"]:checked');
    let itemSize = document.querySelector('input[name="size"]:checked');
    let itemQty = document.getElementById("qty").value;

    // Check if both color and size are selected
    if (itemColor && itemSize) {
      // Get the data attributes from the selected elements
      let colorVariant = itemColor.getAttribute("data-item-color");
      let sizeVariant = itemSize.getAttribute("data-item-size");

      // Try to get existing cart items array from localStorage
      let existingCartItems =
        JSON.parse(localStorage.getItem("cartItems")) || [];

      // Check if an item with the same ID, color, and size already exists in the cart
      let existingItemIndex = existingCartItems.findIndex(
        (item) =>
          item.id === itemID &&
          item.color === colorVariant &&
          item.size === sizeVariant
      );

      if (existingItemIndex !== -1) {
        // If item exists, update quantity based on the operation
        if (operation === "add") {
          existingCartItems[existingItemIndex].qty = parseInt(itemQty);
        } else if (operation === "subtraction") {
          existingCartItems[existingItemIndex].qty = parseInt(itemQty);

          // Ensure quantity doesn't go below 0
          existingCartItems[existingItemIndex].qty = Math.max(
            0,
            existingCartItems[existingItemIndex].qty
          );
          if (existingCartItems[existingItemIndex].qty == 0){
            removeItemFromCart(item)
          }
        } else {
          console.log("operation not supported");
        }
      } else {
        // If item doesn't exist, add it to the array
        existingCartItems.push({
          id: itemID,
          color: colorVariant,
          size: sizeVariant,
          price: itemPrice,
          image: itemImage,
          name: itemName,
          qty: parseInt(itemQty),
        });
      }

      // Convert the cart items array to JSON string and store it in localStorage
      localStorage.setItem("cartItems", JSON.stringify(existingCartItems));

      // Calculate total quantity
      let totalQty = existingCartItems.reduce(
        (total, item) => total + item.qty,
        0
      );

      // SET NEW VALUE TO navbar header
      setNewNumberToCartIcon();
      console.log("Item added/removed from cart:", existingCartItems);
    } else {
      console.log("NO both color and size");
      setItemToCartGlobal(item, operation);
    }
    fillCartItem();
    //setCheckoutTotal();
    resetCartTotal([document.getElementById('sub-total-count')])

  };

// initialize total items
const totalItems = document.getElementById("totalItems")
totalItems.innerHTML = `${getTotalOfItems()} دج`
</script>