{% extends 'templates/shop_base.html' %}
{% block centent %}

{% if item_group %}

  <section class="full-width_padding">

    <div class="full-width_border border-2" style="border-color: #eeeeee;">

      <div class="shop-banner position-relative ">

        <div class="background-img" style="background-color: #eeeeee;">
          <img loading="lazy" src="{{item_group.image}}" width="1759" height="420" alt="Pattern" class="slideshow-bg__img object-fit-cover">
        </div>

        <div class="shop-banner__content container position-absolute start-50 top-50 translate-middle">
          <h2 class="stroke-text h1 smooth-16 text-uppercase fw-bold mb-3 mb-xl-4 mb-xl-5">{{item_group.name}}</h2>
        </div><!-- /.shop-banner__content -->

      </div><!-- /.shop-banner position-relative -->

    </div><!-- /.full-width_border -->

  </section><!-- /.full-width_padding-->

{% endif %}

<div class="mb-4 pb-lg-3"></div>

<section class="shop-main container">
  <div class="d-flex justify-content-between mb-4 pb-md-2">
    <div class="breadcrumb mb-0 d-none d-md-block flex-grow-1">
      <a href="shop1.html#" class="menu-link menu-link_us-s text-uppercase fw-medium" >الرئيسية</a>
      <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1">/</span>
      <a href="shop1.html#" class="menu-link menu-link_us-s text-uppercase fw-medium" >تسوق</a>
    </div><!-- /.breadcrumb -->

    <div class="shop-acs d-flex align-items-center justify-content-between justify-content-md-end flex-grow-1">


      <div class="shop-asc__seprator mx-3 bg-light d-none d-lg-block order-md-1"></div>

    </div><!-- /.shop-acs -->
  </div><!-- /.d-flex justify-content-between -->

  <div class="products-grid row row-cols-2 row-cols-md-3 row-cols-lg-4" id="products-grid" >
    {% for item in items %}
    {% include "templates/components/product.html" %}
    {% endfor %}

  </div><!-- /.products-grid row -->
<!--   <div class="text-center">
    <a class="btn-link btn-link_lg text-uppercase fw-medium" href="shop1.html#">Show More</a>
  </div> -->
</section><!-- /.shop-main container -->

{% endblock %}
