{% extends 'templates/shop_base.html' %}
{% block head %}
  <!-- Facebook Pixel Code -->

<noscript>
  <img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=555839889591329&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<meta name="description" content="{{item.description}}">
<meta property="product:brand" content="Top Vêtement DZ">
<meta property="product:availability" content="in stock">
<meta property="product:condition" content="new">
<meta property="product:price:amount" content="{{item.custom_price}}">
<meta property="product:price:currency" content="DZD">
<meta property="product:retailer_item_id" content="{{item.name}}">
<meta property="og:title" content="{{item.item_name}}" />
<meta property="og:description" content="{{item.description}}" />
<meta property="og:url" content="{{ frappe.get_url() }}/products/{{item.name}}" />
<meta property="og:price:amount" content="{{item.custom_price}}" />
<meta property="og:price:currency" content="DZD" />
<meta property="og:image" content="{{frappe.get_url() }}{{item.image}}" />
{% endblock head %}
{% block centent %}

<div class="mb-md-1 pb-md-3"></div>
    <section class="product-single">
      <div class="row">
        <div class="col-lg-7">
          <div class="product-single__media" data-media-type="vertical-thumbnail">
            <div class="product-single__image">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  {% set item_attachments = frappe.get_all('File', filters={'attached_to_doctype': 'Item', 'attached_to_name': item.name}, fields=['file_name', 'file_url']) %}
                  {%- for attachment in item_attachments -%}

                  <div class="swiper-slide product-single__image-item">
                    <img loading="lazy" class="h-auto" src="{{ attachment.file_url }}" width="300" height="300" alt="">
                    <a data-fancybox="gallery" href="{{item.image}}" data-bs-toggle="tooltip" data-bs-placement="left" title="Zoom">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_zoom" /></svg>
                    </a>
                  </div>
                  {%- endfor -%}

                </div>
                <div class="swiper-button-prev" style="right: unset;">
                  <svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_sm" /></svg></div>
                <div class="swiper-button-next" style="left: unset;">
                  <svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_sm" /></svg></div>
              </div>
            </div>
            <div class="product-single__thumbnail">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  {% set item_attachments = frappe.get_all('File', filters={'attached_to_doctype': 'Item', 'attached_to_name': item.name}, fields=['file_name', 'file_url']) %}
                  {%- for attachment in item_attachments -%}
                  <div class="swiper-slide product-single__image-item"><img loading="lazy" class="h-auto" src="{{ attachment.file_url }}" width="104" height="104" alt=""></div>

                  {%- endfor -%}
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="d-flex justify-content-between mb-4 pb-md-2">
            <div class="breadcrumb mb-0 d-none d-md-block flex-grow-1">
              <a href="product2_variable.html#" class="menu-link menu-link_us-s text-uppercase fw-medium">الرئيسية</a>
              <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1">/</span>
              <a href="product2_variable.html#" class="menu-link menu-link_us-s text-uppercase fw-medium">تسوق</a>
            </div><!-- /.breadcrumb -->


          </div>
          <h1 class="product-single__name">{{item.item_name}}</h1>
          <div class="product-single__rating">
            <div class="reviews-group d-flex">
              <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
              <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
              <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
              <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
              <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star" /></svg>
            </div>
            <span class="reviews-note text-lowercase text-secondary ms-1">8k+ تقييم</span>
          </div>
          {% if not item.custom_promo_price %}
          <div class="product-single__price">
            <span class="current-price">{{item.custom_price}} دج</span>
          </div>
          {% else %}
          <div class="product-single__price">
            <span class="old-price">{{item.custom_price}} دج</span>
            <span class="special-price">{{item.custom_promo_price}} دج</span>
          </div>
          {% endif %}
  

          {% if item.has_variants %}
          <form name="addtocart-form" method="post">
            <div class="product-single__swatches">
              {% for item_variants_value in item_variants_values %}
              {% if item_variants_value.Attribute != 'اللون' %}
              <div class="product-swatch text-swatches">
                <label>{{item_variants_value.Attribute}}</label>
                <div class="swatch-list" >
                  {% for item in item_variants_values %}
                  {% if item.Attribute == 'المقاس' %}
                  {% for value in item.Values %}
                  <input  type="radio" onclick="handleCheckedVariants('{{item.Attribute}}')" data-item-size="{{ value }}" name="size" id="swatch-size-{{ loop.index }}">
                  <label style="cursor: pointer !important;"  class="swatch js-swatch" for="swatch-size-{{ loop.index }}" aria-label="{{ value }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ value }}">{{ value }}</label>
              {% endfor %}
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
              {% else %}
              <div class="product-swatch color-swatches"  >
                <label>{{item_variants_value.Attribute}}</label>
                <div class="swatch-list">
                  {% for item in item_variants_values %}
                  {% if item.Attribute == 'اللون' %}
                  {% for value in item.Values %}
                  <input  type="radio" onclick="handleCheckedVariants('{{item.Attribute}}')" data-item-color="{{ value }}" name="color" id="swatch-{{ loop.index }}">
                  <label class="swatch swatch-color js-swatch" for="swatch-{{ loop.index }}" aria-label="{{ value }}" data-bs-toggle="tooltip" data-bs-placement="top" 
                  title="{{ value }}" style="color: {{ value|lower }};cursor: pointer !important; border-color:#9d9d9d"></label>
              {% endfor %}
                  {% endif %}

                  {% endfor %}
              </div>

              </div>
              {% endif %}
            {% endfor %}
            <p class="bg-warning d-none" id="display_not_found">عذرا المنتج غير متوفر بهذه اللون والمقاس</p>
            </div>
            {% endif %}
            <hr>

            <p class="fw-bold">سارع! فقط 5 قطعة متبقية في المخزن!</p>
            <p class="fw-bold">يشاهد <span class="p-2" id="countdown" style="background-color: #eb2d2d; color: white;">1550</span>  متصفح في الوقت الحالي.</p>
            <script>
const getRandomInteger = () => {
  return Math.floor(Math.random() * 2040) + 1;
};

setInterval(() => {
  document.getElementById("countdown").textContent = getRandomInteger().toString();
}, 2000); //
            </script>
         {# {% include "templates/components/countdown.html" %} #}   
            <div class="product-single__addtocart">
              <div class="qty-control position-relative">
                <input type="number" name="quantity" value="1" min="1" id="qty" class="qty-control__number text-center">
                <div class="qty-control__reduce" data-item-id="{{item.item_code}}" data-item-name="{{item.name}} - {{item.item_name}}" data-item-price ="{{item.custom_price}}" data-item-image="{{item.image}}" onclick="setItemToCart(this,'subtraction');renderCheckoutCartTotalPrice()">-</div>
                <div class="qty-control__increase" data-item-id="{{item.item_code}}" data-item-name="{{item.name}} - {{item.item_name}}"  data-item-price ="{{item.custom_price}}" data-item-image="{{item.image}}" onclick="setItemToCart(this,'add');renderCheckoutCartTotalPrice()">+</div>
              </div><!-- .qty-control -->
              <a class="btn btn-outline-primary js-add-cart js-open-aside " data-aside="cartDrawer"
                onclick="setItemToCart(this,'add')" data-item-id="{{item.item_code}}" data-item-name="{{item.name}} - {{item.item_name}}"  data-item-price ="{{item.custom_price}}" data-item-image="{{item.image}}" ><i class="fa-solid fa-cart-plus"></i></a>
            </div>
          </form>
          {% include "templates/components/checkout.html"%}

   
        </div>
      </div>
      

<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-12 col-md-6">
    <div class="pb-5">
    </div>
  </div>

</div>

      {% if  item.description %}
      <div class="product-single__details-tab">
          <ul class="nav nav-tabs" id="myTab1" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link nav-link_underscore active" id="tab-description-tab" data-bs-toggle="tab" href="product2_variable.html#tab-description" role="tab" aria-controls="tab-description" aria-selected="true">الوصـف</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab-description" role="tabpanel" aria-labelledby="tab-description-tab">
            <div class="product-single__description">
              
              {{item.description}}
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="py-5"></div>
      {% endif %}
    </section>
 {% if recommendations %}
   
    <section class="products-carousel container">
      <h2 class="h3 text-uppercase mb-4 pb-xl-2 mb-xl-4">المنتجات ذات الصلة <strong></strong></h2>

      <div id="related_products" class="position-relative">
          <div class="swiper-container js-swiper-slider"
            data-settings='{
              "autoplay": false,
              "slidesPerView": 4,
              "slidesPerGroup": 4,
              "effect": "none",
              "loop": true,
              "pagination": {
                "el": "#related_products .products-pagination",
                "type": "bullets",
                "clickable": true
              },
              "navigation": {
                "nextEl": "#related_products .products-carousel__next",
                "prevEl": "#related_products .products-carousel__prev"
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "slidesPerGroup": 2,
                  "spaceBetween": 14
                },
                "768": {
                  "slidesPerView": 3,
                  "slidesPerGroup": 3,
                  "spaceBetween": 24
                },
                "992": {
                  "slidesPerView": 4,
                  "slidesPerGroup": 4,
                  "spaceBetween": 30
                }
              }
            }'>
            <div class="swiper-wrapper">

              {% for recommendation in recommendations %}
              <div class="swiper-slide product-card">
                <div class="pc__img-wrapper">
                  <a href="/product/{{recommendation.item_code}}">
                    <img loading="lazy" src="{{recommendation.image}}" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img">
                    <img loading="lazy" src="{{recommendation.image}}" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img pc__img-second">
                  </a>
                  <a href="/product/{{item.item_code}}" class="pc__atc btn anim_appear-bottom btn position-absolute border-0 text-uppercase fw-medium" data-aside="cartDrawer" title="إشتري اﻷن"
                  data-item-id="{{item.item_code}}" data-item-name="{{item.name}} - {{item.item_name}}" data-item-price ="{{item.custom_price}}" data-item-image="{{item.image}}" 
                  > إشتري الأن </a>                </div>

                <div class="pc__info position-relative">
                  <p class="pc__category">{{recommendation.item_group}}</p>
                  <h6 class="pc__title"><a href="/product/{{recommendation.item_code}}">{{recommendation.item_name}}</a></h6>
                  <div class="product-card__price d-flex">
                    <span class="money price">{{recommendation.custom_price}} دج</span>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div><!-- /.swiper-wrapper -->
          </div><!-- /.swiper-container js-swiper-slider -->

          <div class="products-carousel__prev position-absolute top-50 d-flex align-items-center justify-content-center">
            <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_md" /></svg>
          </div><!-- /.products-carousel__prev -->
          <div class="products-carousel__next position-absolute top-50 d-flex align-items-center justify-content-center">
            <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_md" /></svg>
          </div><!-- /.products-carousel__next -->

          <div class="products-pagination mt-4 mb-5 d-flex align-items-center justify-content-center"></div>
          <!-- /.products-pagination -->
        </div><!-- /.position-relative -->

    </section><!-- /.products-carousel container -->

    {% endif %}




<script>
localStorage.setItem("item_variants", "{{handle_variant}}");
const handleCheckedVariants = (name) => {
  // get checked variants
  let sizeCheckboxes = document.getElementsByName('size');
  let colorCheckboxes = document.getElementsByName('color');

  let sizecheckedCheckboxes = Array.from(sizeCheckboxes).filter(function(checkbox) {
    return checkbox.checked;
  });
  let colorcheckedCheckboxes = Array.from(colorCheckboxes).filter(function(checkbox) {
    return checkbox.checked;
  });

  // Assuming 'data-item-color' and 'data-item-size' attributes are correctly set in your HTML
  productId = getProductIdBasedOnVariants(colorcheckedCheckboxes[0]?.getAttribute('data-item-color'), sizecheckedCheckboxes[0]?.getAttribute('data-item-size'));
  console.log(productId);
  return productId;
}

const getProductIdBasedOnVariants = (color, size) => {
  let notFoundMsg = document.getElementById('display_not_found')
  let items = localStorage.getItem("item_variants").toString().replace(/'/g, '"');;

  try {
    let variants = JSON.parse(items);
    console.log(variants)
    // Find the product ID based on color and size
    for (let productId in variants) {
      let variant = variants[productId];
      if (variant['اللون'] === color && variant['المقاس'] === size && variant['qty'] >0) {
        notFoundMsg.classList.add('d-none')
        localStorage.setItem("selected_item_variant",productId)
        return productId;
      }
    }
  } catch (error) {
    console.error("Error parsing JSON:", error);
  }
  notFoundMsg.classList.remove('d-none')
  // Return null if no matching product is found or if there's an error
  localStorage.removeItem("selected_item_variant")

  return null;
}



</script>
{% endblock %}
