
{% extends 'templates/shop_base.html' %}

{% block centent %}
  

<section class="about-us container">
    <div class="mw-930">
      <h2 class="page-title">عن {{shop_settings.site_name}}</h2>
    </div>
    <div class="about-us__content pb-5 mb-5">
      <p class="mb-5">
        <img loading="lazy" class="w-50 h-auto d-block" src="{{shop_settings.logo}}" width="500" height="550" alt="{{shop_settings.site_name}}">
      </p>
      <div class="mw-930">
        <h3 class="mb-4">نبذة عنا</h3>
        <p class="fs-6 fw-medium mb-4"> 
          {{shop_settings.description}}
        </p>

      </div>

      </div>
    </div>
  </section>
{% endblock centent %}