{% extends 'templates/shop_base.html' %}
{% block centent %}
<section class="contact-us container pt-5">
    <div class="mw-930">
      <div class="row mb-5">
        <div class="col-lg-6">
          <h3 class="mb-4">Wooliz store</h3>
<!--           للتواصل معنا عبر البريد الإلكتروني:
 -->
          للتواصل معنا عبر الهاتف: 077239309 
          <br>
          سنكون سعداء بالتواصل معكم والإجابة عن أسئلتكم.
        </div>
      </div>
      <div class="contact-us__form">
        <form name="contact-us-form" class="needs-validation" novalidate="">
          <h3 class="mb-5">أرسل رسالة من هنا</h3>
          <div class="form-floating my-4">
            <input type="text" class="form-control" id="contact_us_name" placeholder="Name *" required="">
            <label for="contact_us_name">الإسم *</label>
          </div>
          <div class="form-floating my-4">
            <input type="email" class="form-control" id="contact_us_email" placeholder="Email address *" required="">
            <label for="contact_us_name">البريد الإلكتروني*</label>
          </div>
          <div class="my-4">
            <textarea class="form-control form-control_gray" placeholder="الرسالة" cols="30" rows="8" required=""></textarea>
          </div>
          <div class="my-4">
            <button type="submit" class="btn btn-primary">إرسال</button>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}