  <!DOCTYPE html>
  <html dir="rtl" lang="ar">
  <head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <link rel="shortcut icon" href="{{shop_settings.logo}}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <!--[if lt IE 9]>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
<style>
  body {
    overflow-x: hidden;
}
</style>
    <!-- Document Title -->
    <title> {% block title %}{{ title | striptags }}{% endblock %} </title>
    {% block meta_block %}
    {% include "templates/includes/meta_block.html" %}
  {% endblock %}

{%- block head -%}

{% endblock -%}
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/simple_shop/css/plugins/swiper.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/simple_shop/css/plugins/all.min.css" type="text/css">

    <link rel="stylesheet" href="/assets/simple_shop/css/style.min.css" type="text/css">
    <!-- Facebook Pixel Code -->


<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '{{shop_settings.pixel_id}}');
  fbq('track', 'PageView');
</script>



<noscript>
  <img height="1" width="1" style="display:none" 
       src="https://www.facebook.com/tr?id={{shop_settings.pixel_id}}&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<script>
  window.frappe = {};
  frappe.ready_events = [];
  frappe.ready = function(fn) {
    frappe.ready_events.push(fn);
  }
  window.dev_server = {{ dev_server }};
  window.socketio_port = {{ (frappe.socketio_port or 'null') }};
  window.show_language_picker = {{ show_language_picker or 'false' }};
  // intialize cart items
let existingCartItems = JSON.parse(localStorage.getItem('cartItems')) || [];

let cartItemNumber = document.querySelectorAll('.cart_number');
        let totalQty = existingCartItems.reduce((total, item) => total + item.qty, 0);
        cartItemNumber.forEach(e => {
            e.innerHTML = totalQty;
        });

// Function to get the value of a cookie by name
function getCookie(name) {
  var value = "; " + document.cookie;
  var parts = value.split("; " + name + "=");
  if (parts.length === 2) return parts.pop().split(";").shift();
}

</script>

  </head>


  <body class="container" style="padding-bottom: 52px">
    {% include "templates/components/base_scripts.html" %}

{% include "templates/components/svg_icons.html" %}
{% include "templates/components/mobile_navbar.html" %}
{% include "templates/components/navbar.html" %}
    <main>
      {% block centent %}
      {% endblock %}
      <div class="mb-4 pb-4 pb-xl-5 mb-xl-5"></div>
      <section class="service-promotion container mb-md-4 pb-md-4 mb-xl-5">
        <div class="row">
          <div class="col-md-4 text-center mb-5 mb-md-0">
            <div class="service-promotion__icon mb-4">
              <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_shipping" /></svg>
            </div>
            <h3 class="service-promotion__title h5 text-uppercase">توصيل سريع من 1-3 أيام </h3>
            <p class="service-promotion__content text-secondary">توصيل سريع و امن الى جميع الولايات</p>
          </div><!-- /.col-md-4 text-center-->

          <div class="col-md-4 text-center mb-5 mb-md-0">
            <div class="service-promotion__icon mb-4">
              <svg width="53" height="52" viewBox="0 0 53 52" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_headphone" /></svg>
            </div>
            <h3 class="service-promotion__title h5 text-uppercase">هدفنا إرضاؤكم
            </h3>
            <p class="service-promotion__content text-secondary">نوفر لك منتجات متعدّدة ذات جودة عالية

            </p>
          </div><!-- /.col-md-4 text-center-->

          <div class="col-md-4 text-center mb-4 pb-1 mb-md-0">
            <div class="service-promotion__icon mb-4">
              <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_shield" /></svg>
            </div>
            <h3 class="service-promotion__title h5 text-uppercase">تخلص كي توصلك السلعة
            </h3>
            <p class="service-promotion__content text-secondary">اطلب منتجك و الدفع عند الاستلام

            </p>
          </div><!-- /.col-md-4 text-center-->
        </div><!-- /.row -->
      </section><!-- /.service-promotion container -->
    </main>

    {% include "templates/components/footer.html" %}
   {# {% include "templates/components/mobile_footer.html" %} #} 


    <!-- Customer Login Form -->
    <div class="aside aside_right overflow-hidden customer-forms" id="customerForms">
      <div class="customer-forms__wrapper d-flex position-relative">
        <div class="customer__login">
          <div class="aside-header d-flex align-items-center">
            <h3 class="text-uppercase fs-6 mb-0">Login</h3>
            <button class="btn-close-lg js-close-aside ms-auto"></button>
          </div><!-- /.aside-header -->

          <form action="https://uomo-html.flexkitux.com/Demo1/" method="POST" class="aside-content">
            <div class="form-floating mb-3">
              <input name="email" type="email" class="form-control form-control_gray" id="customerNameEmailInput" placeholder="name@example.com">
              <label for="customerNameEmailInput">Username or email address *</label>
            </div>

            <div class="pb-3"></div>

            <div class="form-label-fixed mb-3">
              <label for="customerPasswordInput" class="form-label">Password *</label>
              <input name="password" id="customerPasswordInput" class="form-control form-control_gray" type="password" placeholder="********">
            </div>

            <div class="d-flex align-items-center mb-3 pb-2">
              <div class="form-check mb-0">
                <input name="remember" class="form-check-input form-check-input_fill" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label text-secondary" for="flexCheckDefault">Remember me</label>
              </div>
              <a href="reset_password.html" class="btn-text ms-auto">Lost password?</a>
            </div>

            <button class="btn btn-primary w-100 text-uppercase" type="submit">Log In</button>

            <div class="customer-option mt-4 text-center">
              <span class="text-secondary">No account yet?</span>
              <a href="login_register.html#register-tab" class="btn-text js-show-register">Create Account</a>
            </div>
          </form>
        </div><!-- /.customer__login -->

        <div class="customer__register">
          <div class="aside-header d-flex align-items-center">
            <h3 class="text-uppercase fs-6 mb-0">Create an account</h3>
            <button class="btn-close-lg js-close-aside btn-close-aside ms-auto"></button>
          </div><!-- /.aside-header -->

          <form action="https://uomo-html.flexkitux.com/Demo1/" method="POST" class="aside-content">
            <div class="form-floating mb-4">
              <input name="username" type="text" class="form-control form-control_gray" id="registerUserNameInput" placeholder="Username">
              <label for="registerUserNameInput">Username</label>
            </div>

            <div class="pb-1"></div>

            <div class="form-floating mb-4">
              <input name="email" type="email" class="form-control form-control_gray" id="registerUserEmailInput" placeholder="user@company.com">
              <label for="registerUserEmailInput">Email address *</label>
            </div>

            <div class="pb-1"></div>

            <div class="form-label-fixed mb-4">
              <label for="registerPasswordInput" class="form-label">Password *</label>
              <input name="password" id="registerPasswordInput" class="form-control form-control_gray" type="password" placeholder="*******">
            </div>

            <p class="text-secondary mb-4">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy.</p>

            <button class="btn btn-primary w-100 text-uppercase" type="submit">Register</button>

            <div class="customer-option mt-4 text-center">
              <span class="text-secondary">Already have account?</span>
              <a href="index.html#" class="btn-text js-show-login">Login</a>
            </div>
          </form>
        </div><!-- /.customer__register -->
      </div><!-- /.customer-forms__wrapper -->
    </div>
    <!-- /.aside aside_right -->

{% include "templates/components/shopping_cart.html" %}
    <!-- Go To Top -->
    <div id="scrollTop" class="visually-hidden end-0"></div>

    <!-- Page Overlay -->
    <div class="page-overlay"></div><!-- /.page-overlay -->
    <script>
      frappe.boot = {
        sysdefaults: {
          float_precision: parseInt("{{ frappe.get_system_settings('float_precision') or 3 }}"),
          date_format: "{{ frappe.get_system_settings('date_format') or 'yyyy-mm-dd' }}",
        }
      };
      // for backward compatibility of some libs
      frappe.sys_defaults = frappe.boot.sysdefaults;
    </script>


    {%- for link in web_include_js %}
    {{ include_script(link) }}
    {%- endfor -%}

    {%- block script %}
      {% if colocated_js -%}
        <script>{{ colocated_js }}</script>
      {%- endif %}
    {%- endblock %}
    <!-- csrf_token -->
    {%- block body_include %}{{ body_include or "" }}{% endblock -%}
    <!-- External JavaScripts -->
    <script src="/assets/simple_shop/js/plugins/jquery.min.js"></script>
    <script src="/assets/simple_shop/js/plugins/bootstrap.bundle.min.js"></script>
    <script src="/assets/simple_shop/js/plugins/bootstrap-slider.min.js"></script>
    <script src="/assets/simple_shop/js/plugins/swiper.min.js"></script>
    <script src="/assets/simple_shop/js/plugins/countdown.min.js"></script>

    <!-- Footer Scripts -->
    <script src="/assets/simple_shop/js/theme.min.js"></script>
    <script src="/assets/simple_shop/js/plugins/all.min.js"></script>


  </body>
  </html>
