{% extends 'templates/shop_base.html' %}
{% block centent %}

<section class="swiper-container js-swiper-slider slideshow"
      data-settings='{
        "autoplay": {
          "delay": 5000
        },
        "slidesPerView": 1,
        "effect": "fade",
        "loop": true,
        "pagination": {
          "el": ".slideshow-pagination",
          "type": "bullets",
          "clickable": true
        }
      }'>
      <div class="swiper-wrapper">

        {% for category in categories %}
        <div class="swiper-slide full-width_border border-1" style="border-color: #f5e6e0;">
          <div class="overflow-hidden position-relative h-100">
            <div class="slideshow-bg" style="background-color: #f5e6e0;">
              <img  src="{{category.image}}" width="1761" height="778" alt="Pattern" class="slideshow-bg__img object-fit-cover">
            </div>
            <!-- <p class="slideshow_markup font-special text-uppercase position-absolute end-0 bottom-0">Summer</p> -->
            <div class="slideshow-character position-absolute bottom-0 pos_right-center">
              <!-- <img  src="../images/slideshow-character1.png" width="400" height="733" alt="Woman Fashion 1" class="slideshow-character__img animate animate_fade animate_btt animate_delay-9 h-auto w-auto"> -->
              <div class="character_markup">
                <p class="text-uppercase font-sofia fw-bold animate animate_fade animate_rtl animate_delay-10">{{category.name}}</p>
              </div>
            </div>
            <div class="slideshow-text container position-absolute start-50 top-50 translate-middle">
              <h6 class="text_dash text-uppercase text-red fs-base fw-medium animate animate_fade animate_btt animate_delay-3">الفئات</h6>
              <h2 class="text-uppercase h1 fw-normal mb-0 animate animate_fade animate_btt animate_delay-5">إستكشف الجديد في</h2>
              <h2 class="text-uppercase h1 fw-bold animate animate_fade animate_btt animate_delay-5">{{category.name}}</h2>
              <a href="/products/?category={{category.name}}" class="btn-link btn-link_lg default-underline text-uppercase fw-medium animate animate_fade animate_btt animate_delay-7">المزيد</a>
            </div>
          </div>
        </div><!-- /.slideshow-item -->
        {% endfor %}

      </div><!-- /.slideshow-wrapper js-swiper-slider -->

      <div class="container">
        <div class="slideshow-pagination d-flex align-items-center position-absolute bottom-0 mb-5"></div>
        <!-- /.products-pagination -->
      </div><!-- /.container -->

      <div class="slideshow-social-follow d-none d-xxl-block position-absolute top-50 start-0 translate-middle-y text-center">
        <ul class="social-links list-unstyled mb-0 text-secondary">
          <li>
            <a href="index.html#" class="footer__social-link d-block">
              <svg class="svg-icon svg-icon_facebook" width="9" height="15" viewBox="0 0 9 15" xmlns="http://www.w3.org/2000/svg"><use href="#icon_facebook" /></svg>
            </a>
          </li>
          <li>
            <a href="index.html#" class="footer__social-link d-block">
              <svg class="svg-icon svg-icon_twitter" width="14" height="13" viewBox="0 0 14 13" xmlns="http://www.w3.org/2000/svg"><use href="#icon_twitter" /></svg>
            </a>
          </li>
          <li>
            <a href="index.html#" class="footer__social-link d-block">
              <svg class="svg-icon svg-icon_instagram" width="14" height="13" viewBox="0 0 14 13" xmlns="http://www.w3.org/2000/svg"><use href="#icon_instagram" /></svg>
            </a>
          </li>
          <li>
            <a href="index.html#" class="footer__social-link d-block">
              <svg class="svg-icon svg-icon_pinterest" width="14" height="15" viewBox="0 0 14 15" xmlns="http://www.w3.org/2000/svg"><use href="#icon_pinterest" /></svg>
            </a>
          </li>
        </ul><!-- /.social-links list-unstyled mb-0 text-secondary -->
        <span class="slideshow-social-follow__title d-block mt-5 text-uppercase fw-medium text-secondary">Follow Us</span>
      </div><!-- /.slideshow-social-follow -->
      <a href="index.html#section-collections-grid_masonry" class="slideshow-scroll d-none d-xxl-block position-absolute end-0 bottom-0 text_dash text-uppercase fw-medium">Scroll</a>
    </section><!-- /.slideshow -->

    <div class="mb-5 pb-5"></div>
    <div class="pb-1"></div>
    {# <section class="category-carousel container">
      <h2 class="section-title text-center mb-3 pb-xl-2 mb-xl-4">You Might Like</h2>

      <div class="position-relative">
        <div class="swiper-container js-swiper-slider"
          data-settings='{
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": 8,
            "slidesPerGroup": 1,
            "effect": "none",
            "loop": true,
            "navigation": {
              "nextEl": ".products-carousel__next-1",
              "prevEl": ".products-carousel__prev-1"
            },
            "breakpoints": {
              "320": {
                "slidesPerView": 2,
                "slidesPerGroup": 2,
                "spaceBetween": 15
              },
              "768": {
                "slidesPerView": 4,
                "slidesPerGroup": 4,
                "spaceBetween": 30
              },
              "992": {
                "slidesPerView": 6,
                "slidesPerGroup": 1,
                "spaceBetween": 45,
                "pagination": false
              },
              "1200": {
                "slidesPerView": 8,
                "slidesPerGroup": 1,
                "spaceBetween": 60,
                "pagination": false
              }
            }
          }'>
          <div class="swiper-wrapper">
            {% for category in categories %}
            <div class="swiper-slide">
              <img loading="lazy" class="w-100 h-auto mb-3" src="{{category.image}}" width="124" height="124" alt="">
              <div class="text-center">
                <a href="index.html#" class="menu-link fw-medium">{{category.name}}</a>
              </div>
            </div>
            {% endfor %}


          </div><!-- /.swiper-wrapper -->
        </div><!-- /.swiper-container js-swiper-slider -->
  
        <div class="products-carousel__prev products-carousel__prev-1 position-absolute top-50 d-flex align-items-center justify-content-center">
          <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_md" /></svg>
        </div><!-- /.products-carousel__prev -->
        <div class="products-carousel__next products-carousel__next-1 position-absolute top-50 d-flex align-items-center justify-content-center">
          <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_md" /></svg>
        </div><!-- /.products-carousel__next -->
      </div><!-- /.position-relative -->
    </section>
  #}
    <!-- Shop by collection -->
    <section class="collections-grid collections-grid_masonry" id="section-collections-grid_masonry">
      <div class="container h-md-100">
        <div class="row h-md-100">
          {% for category in categories %}
            {% include "templates/components/category.html" %}
          {% endfor %}
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.collections-grid collections-grid_masonry -->


    <div class="mb-5 pb-1 pb-xl-4"></div>
    <!-- Recently products section -->
    {% set items,section_name = recent_items,'المنتجات الجديدة' %}
    {% include "templates/components/category_section.html"  %}

    <!-- Other sections which dispalyed in home -->

    {% for category in home_categories %}
    {% set items_cat = frappe.get_list('Item',filters=[{'item_group': category.name,},{'variant_of': ""}],fields=['*']) %}
    {% set items,section_name = items_cat,category.name %}
    {% include "templates/components/category_section.html"  %}
    {% endfor %}

{% endblock %}
