{% extends 'templates/shop_base.html' %}
{% block centent %}

<section class="swiper-container js-swiper-slider slideshow full-width_padding"
      data-settings='{
        "autoplay": {
          "delay": 5000
        },
        "slidesPerView": 1,
        "effect": "fade",
        "loop": true,
        "pagination": {
          "el": ".slideshow-pagination",
          "type": "bullets",
          "clickable": true
        }
      }'>
      <div class="swiper-wrapper">

        {% for category in categories %}
        <div class="swiper-slide full-width_border border-1" style="border-color: #f5e6e0;">
          <div class="overflow-hidden position-relative h-100">
            <div class="slideshow-bg" style="background-color: #f5e6e0;">
              <img loading="lazy" src="{{category.image}}" width="1761" height="778" alt="Pattern" class="slideshow-bg__img object-fit-cover">
            </div>
            <!-- <p class="slideshow_markup font-special text-uppercase position-absolute end-0 bottom-0">Summer</p> -->
            <div class="slideshow-character position-absolute bottom-0 pos_right-center">
              <!-- <img loading="lazy" src="../images/slideshow-character1.png" width="400" height="733" alt="Woman Fashion 1" class="slideshow-character__img animate animate_fade animate_btt animate_delay-9 h-auto w-auto"> -->
              <div class="character_markup">
                <p class="text-uppercase font-sofia fw-bold animate animate_fade animate_rtl animate_delay-10">{{category.name}}</p>
              </div>
            </div>
            <div class="slideshow-text container position-absolute start-50 top-50 translate-middle">
              <h6 class="text_dash text-uppercase text-red fs-base fw-medium animate animate_fade animate_btt animate_delay-3">Categorie</h6>
              <h2 class="text-uppercase h1 fw-normal mb-0 animate animate_fade animate_btt animate_delay-5">Découvrez la categorie</h2>
              <h2 class="text-uppercase h1 fw-bold animate animate_fade animate_btt animate_delay-5">{{category.name}}</h2>
              <a href="/products/?category={{category.name}}" class="btn-link btn-link_lg default-underline text-uppercase fw-medium animate animate_fade animate_btt animate_delay-7">Discover More</a>
            </div>
          </div>
        </div><!-- /.slideshow-item -->
        {% endfor %}

      </div><!-- /.slideshow-wrapper js-swiper-slider -->

      <div class="container">
        <div class="slideshow-pagination d-flex align-items-center position-absolute bottom-0 mb-5"></div>
        <!-- /.products-pagination -->
      </div><!-- /.container -->

      <div class="slideshow-social-follow d-none d-xxl-block position-absolute top-50 start-0 translate-middle-y text-center">
        <ul class="social-links list-unstyled mb-0 text-secondary">
          <li>
            <a href="index.html#" class="footer__social-link d-block">
              <svg class="svg-icon svg-icon_facebook" width="9" height="15" viewBox="0 0 9 15" xmlns="http://www.w3.org/2000/svg"><use href="#icon_facebook" /></svg>
            </a>
          </li>
          <li>
            <a href="index.html#" class="footer__social-link d-block">
              <svg class="svg-icon svg-icon_twitter" width="14" height="13" viewBox="0 0 14 13" xmlns="http://www.w3.org/2000/svg"><use href="#icon_twitter" /></svg>
            </a>
          </li>
          <li>
            <a href="index.html#" class="footer__social-link d-block">
              <svg class="svg-icon svg-icon_instagram" width="14" height="13" viewBox="0 0 14 13" xmlns="http://www.w3.org/2000/svg"><use href="#icon_instagram" /></svg>
            </a>
          </li>
          <li>
            <a href="index.html#" class="footer__social-link d-block">
              <svg class="svg-icon svg-icon_pinterest" width="14" height="15" viewBox="0 0 14 15" xmlns="http://www.w3.org/2000/svg"><use href="#icon_pinterest" /></svg>
            </a>
          </li>
        </ul><!-- /.social-links list-unstyled mb-0 text-secondary -->
        <span class="slideshow-social-follow__title d-block mt-5 text-uppercase fw-medium text-secondary">Follow Us</span>
      </div><!-- /.slideshow-social-follow -->
      <a href="index.html#section-collections-grid_masonry" class="slideshow-scroll d-none d-xxl-block position-absolute end-0 bottom-0 text_dash text-uppercase fw-medium">Scroll</a>
    </section><!-- /.slideshow -->

    <div class="mb-5 pb-5"></div>
    <div class="pb-1"></div>

    <!-- Shop by collection -->
    <section class="collections-grid collections-grid_masonry" id="section-collections-grid_masonry">
      <div class="container h-md-100">
        <div class="row h-md-100">

          {% for category in categories %}
          <div class="col-lg-6 d-flex flex-column">
            <div class="collection-grid__item position-relative flex-grow-1 mb-lg-4">
              <div class="background-img" style="background-image: url('{{category.image}}');"></div>
              <div class="content_abs content_bottom content_left content_bottom-md content_left-md">
                <p class="text-uppercase mb-1">Categorie</p>
                <h3 class="text-uppercase">{{category.name}}</h3>
                <a href="/products/?category={{category.name}}" class="btn-link default-underline text-uppercase fw-medium">Shop Now</a>
              </div><!-- /.content_abs content_bottom content_left content_bottom-md content_left-md -->
            </div>
          </div><!-- /.col-md-6 -->
          {% endfor %}

        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.collections-grid collections-grid_masonry -->


    <div class="mb-5 pb-1 pb-xl-4"></div>


    <section class="products-carousel container">
      <h2 class="section-title text-uppercase text-center mb-4 pb-xl-2 mb-xl-4">Articles récents</h2>

      <div id="product_carousel" class="position-relative">
        <div class="swiper-container js-swiper-slider"
          data-settings='{
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": 4,
            "slidesPerGroup": 4,
            "effect": "none",
            "loop": true,
            "pagination": {
              "el": "#product_carousel .products-pagination",
              "type": "bullets",
              "clickable": true
            },
            "navigation": {
              "nextEl": "#product_carousel .products-carousel__next",
              "prevEl": "#product_carousel .products-carousel__prev"
            },
            "breakpoints": {
              "320": {
                "slidesPerView": 2,
                "slidesPerGroup": 2,
                "spaceBetween": 14
              },
              "768": {
                "slidesPerView": 3,
                "slidesPerGroup": 3,
                "spaceBetween": 24
              },
              "992": {
                "slidesPerView": 4,
                "slidesPerGroup": 1,
                "spaceBetween": 30
              }
            }
          }'>
          <div class="swiper-wrapper">


            {% for recent_item in recent_items %}
            <div class="swiper-slide product-card">
              <div class="pc__img-wrapper">
                <a href="/product/{{recent_item.item_code}}">
                  <img loading="lazy" src="{{recent_item.image}}" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img">
                </a>
                <button class="pc__atc btn anim_appear-bottom btn position-absolute border-0 text-uppercase fw-medium js-add-cart js-open-aside" data-aside="cartDrawer" title="Add To Cart">Add To Cart</button>
              </div>

              <div class="pc__info position-relative">
                <p class="pc__category">{{recent_item.item_name}}</p>
                <h6 class="pc__title"><a href="/product/{{recent_item.item_code}}">{{recent_item.description}}</a></h6>
                <div class="product-card__price d-flex">
                  <span class="money price">{{recent_item.price}}</span>
                </div>

                <button class="pc__btn-wl position-absolute top-0 end-0 bg-transparent border-0 js-add-wishlist" title="Add To Wishlist">
                  <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart" /></svg>
                </button>
              </div>
            </div>
            {% endfor %}


          </div><!-- /.swiper-wrapper -->

        </div><!-- /.swiper-container js-swiper-slider -->

        <div class="products-carousel__prev position-absolute top-50 d-flex align-items-center justify-content-center">
          <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_md" /></svg>
        </div><!-- /.products-carousel__prev -->
        <div class="products-carousel__next position-absolute top-50 d-flex align-items-center justify-content-center">
          <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_md" /></svg>
        </div><!-- /.products-carousel__next -->

        <div class="products-pagination mt-4 mb-5 d-flex align-items-center justify-content-center"></div>
        <!-- /.products-pagination -->
      </div><!-- /.position-relative -->

    </section><!-- /.products-carousel container -->





{% endblock %}
